<!DOCTYPE html>
<html>
  <head>
    <title>Awesome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'staticpages/header'%>
    <div class="container p-3">
      <% if flash.any?%>
        <% flash.each do |type, msg|%>
          <div class="alert alert-<%= type%>">
          <div><%= msg%></div>
          </div>
        <% end %>
      <% end %>
    <%= yield %>

    <%= debug session[:user_id] if Rails.env == 'development' %>
          </div>
    </div>
    <%=render 'staticpages/footer'%>
    
  </body>
</html>
